/* rewrite the style of duoshuo */
/* 修改Like按钮的样式 */
.comment #ds-thread #ds-reset .ds-meta {
  padding: 2em 0;
  text-align: center;
}
.comment #ds-thread #ds-reset .ds-meta .ds-like-thread-button {
  background: #fff;
  font-size: 1.2em;
  line-height: 1.5em;
}
.comment #ds-thread #ds-reset .ds-meta .ds-like-panel {
  display: block;
  padding: 10px 15px 0 0;
  text-align: center;
}
.comment #ds-thread #ds-reset .ds-meta .ds-icon-heart {
  background: transparent url('//jerryblog-image.b0.upaiyun.com/blog/icons/unlike.png');
  width: 1em;
  height: 1em;
  background-size: 1em 1em;
  vertical-align: middle;
}
.comment #ds-thread #ds-reset .ds-meta .ds-thread-liked .ds-icon-heart,
.comment #ds-thread #ds-reset .ds-meta .ds-icon-heart:hover {
  background: transparent url('//jerryblog-image.b0.upaiyun.com/blog/icons/like.png');
  background-size: 1em 1em;
}
/* 评论输入框样式重写 */
.comment #ds-thread #ds-reset .ds-textarea-wrapper {
  background: #fff;
}
.comment #ds-reset .ds-gradient-bg {
  background: #f3f3f3;
}
.comment #ds-thread #ds-reset .ds-post-button {
  background: #1abc9c;
  color: #fff;
  text-shadow: none;
}
.comment #ds-thread #ds-reset .ds-post-button:hover {
  background: #205caa;
  color: #fff;
  text-shadow: none;
}
/* 颜色改为统一风格 */
.comment #ds-thread .ds-highlight,
.comment #ds-thread #ds-reset .ds-login-buttons .ds-more-services {
  color: #205caa !important;
}
.comment #ds-thread .ds-highlight:hover,
.comment #ds-thread #ds-reset .ds-login-buttons .ds-more-services:hover {
  color: #1abc9c !important;
}
.comment #ds-thread #ds-reset a.ds-unread-comments-count,
.comment #ds-thread #ds-reset .ds-sort a.ds-current,
.comment #ds-thread #ds-reset .ds-sort a:active,
.comment #ds-thread #ds-reset #ds-bubble a:hover,
.comment #ds-thread #ds-reset .ds-post-liked a.ds-post-likes,
.comment #ds-thread #ds-reset .ds-paginator a.ds-current,
.comment #ds-wrapper #ds-reset .ds-unread-list li a,
.comment #ds-notify #ds-reset ul.ds-notify-unread li a,
.comment #ds-reset #ds-ctx .ds-ctx-entry .ds-ctx-head a,
.comment #ds-thread #ds-reset a.ds-comment-context,
.comment #ds-thread #ds-reset #ds-bubble a {
  color: #205caa;
}
.comment #ds-thread #ds-reset a.ds-unread-comments-count:hover,
.comment #ds-thread #ds-reset .ds-sort a.ds-current:hover,
.comment #ds-thread #ds-reset .ds-sort a:active:hover,
.comment #ds-thread #ds-reset #ds-bubble a:hover:hover,
.comment #ds-thread #ds-reset .ds-post-liked a.ds-post-likes:hover,
.comment #ds-thread #ds-reset .ds-paginator a.ds-current:hover,
.comment #ds-wrapper #ds-reset .ds-unread-list li a:hover,
.comment #ds-notify #ds-reset ul.ds-notify-unread li a:hover,
.comment #ds-reset #ds-ctx .ds-ctx-entry .ds-ctx-head a:hover,
.comment #ds-thread #ds-reset a.ds-comment-context:hover,
.comment #ds-thread #ds-reset #ds-bubble a:hover {
  color: #1abc9c;
}
#ds-thread #ds-reset .ds-sort a:hover,
.comment #ds-thread #ds-reset .ds-login-buttons .ds-more-services:hover {
  color: #1abc9c !important;
}
